body {
  background-color: #ffffff;
}

.green {
  background-color: #000000;
}

.cyan {
  background-color: #000000;
}

.blue {
  background-color: #000000;
}

div {
  display: inline-block;
  height: 100px;
  width: 100px;
}
