body {
  background-color: #ffffff;
}

.orange {
  background-color: #000000;
}

.cyan {
  background-color: #000000;
}

.raspberry {
  background-color: #000000;
}

div {
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
}
